.container-fluid {
  background-image: url("../../../assets/img/main.jpg");
  min-height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2 {
  color: white;
  text-align: center;
  font-family: Futura;
  font-size: 5em;
}

h1 {
  font-size: 5em;
}

.card {
  background: rgba(112, 112, 112, 0.6);
  min-height: 30vh;
}

h2 {
  font-size: 3em;
}

.btn-primary{
  background-color: #FFB271;
  color: #707070;
  border-color: #FFB271;
}
