<div class="container">
  <div class="col-auto">
    <h1>Admin Page</h1>
    <ngb-tabset type="pills">
      <ngb-tab title="Customers">
        <ng-template ngbTabContent>
          <app-customer-container></app-customer-container>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Bookings">
        <ng-template ngbTabContent>
          <app-bookings-admin></app-bookings-admin>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Cars">
        <ng-template ngbTabContent>
          <button (click)="createNewCar()" class="btn btn-primary">Add</button>
          <app-cars-admin></app-cars-admin>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Locations">
        <ng-template ngbTabContent>
          <button (click)="createNewLocation()" class="btn btn-primary">Add</button>
          <app-locations-admin></app-locations-admin>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>


<!--
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button class="btn btn-link nav-link">Admins</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link">Customers</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link">Cars</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link">Locations</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>-->
