<div class="container custom-container">
  <h1>New Password</h1>
  <form [formGroup]="newPasswordForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <small *ngIf="password.errors.required" class="form-text text-danger">
          Password field is required
        </small>
      </div>
    </div>

    <!--Re-enter Password-->
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" formControlName="confirm">
    </div>
    <div *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)">
      <small *ngIf="confirm.errors.required" class="form-text text-danger">
        Confirm password is required
      </small>
      <small *ngIf="confirm.errors.mismatch" class="form-text text-danger">
        Password does not match
      </small>
    </div>
    <button type="submit" class="btn btn-primary rounded-pill" [disabled]="newPasswordForm.invalid">Submit</button>
    <div>{{message}}</div>
  </form>
</div>
