<div class="container custom-container">
  <h1>Reset Password</h1>
  <form [formGroup]="resetForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="email">Your registered email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <small *ngIf="email.errors.required" class="form-text text-danger">
          Email field is required
        </small>
        <small *ngIf="email.errors.email" class="form-text text-danger">
          Please enter correct email format
        </small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary rounded-pill" [disabled]="resetForm.invalid">Submit</button>
    <button type="button" class="btn secondary rounded-pill" (click)="cancel()">Cancel</button>
    <div>{{message}}</div>
  </form>
</div>
