<div class="container">
    <h1>Super Admin Page</h1>
    <ngb-tabset type="tabs">
        <ngb-tab title="Admins">
            <ng-template ngbTabContent>
                <div class="container">
                <button class="btn btn-outline-primary" (click)="openModal()">Add new admin</button>
                <app-admin-list [admins]="admins"></app-admin-list>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Customers">
            <ng-template ngbTabContent>
                <app-customer-container></app-customer-container>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
