<div class="container">
    <h1>Super Admin Page</h1>
    <ngb-tabset type="pills">
        <ngb-tab title="Admins">
            <ng-template ngbTabContent>
                <app-admin-list [admins]="admins"></app-admin-list>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Customers">
            <ng-template ngbTabContent>
                <ngb-tabset type="pills">
                    <ngb-tab title="All">
                        <ng-template ngbTabContent>
                            <app-customer-list [status]="status.All"></app-customer-list>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Active">
                        <ng-template ngbTabContent>
                            <app-customer-list [status]="status.Active"></app-customer-list>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Inactive">
                        <ng-template ngbTabContent>
                            <app-customer-list [status]="status.Inactive"></app-customer-list>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
